.menubtns {
  display: flex;
  align-items: center;

  width: 80%;
  border-radius: 2.2rem 0 0 2.2rem;
}

/* .menubtns:hover {
  background: linear-gradient(90deg, var(--biege), rgba(238, 220, 151, 0.5), transparent 90%);
  cursor: pointer;
} */

.menubtns-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border: 5px solid var(--biege);
  border-radius: 2rem;
  background: var(--background);

  & img {
    height: 5rem;
  }
}

.menubtns-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.7rem;

  width: 100%;

  & hr {
    width: 100%;
    border: 2px solid var(--biege);

  }
}

.menubtns-line {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & h2 {
    color: var(--accent);
    font-size: 2.2rem;
    margin-left: 1rem;
  }

  & button {
    all: unset;

    height: 2.5rem;
    padding: 0 1rem;

    border: 2px solid var(--accent);
    border-radius: 5px;
    
    color: var(--accent);
    font-size: 1.2rem;

    cursor: pointer;

    &:hover {
      color: var(--background);
      border-color: var(--background);
      background: var(--biege);
    }

    &:active {
      background: var(--accent);
    }
  }
}

.menubtns-inputfield {
  display: flex;
  align-items: center;
  gap: 1rem;

  & input {
    height: 2.5rem;
    width: 8rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
}