.match {
  display: flex;
  height: calc(100vh - 5rem);
}

.match-main{
  display: flex;
  align-items: center;

  flex: 80%;
  height: 100%;

  background: black;
}

.match-aside {
  background: var(--background);
  height: 100%;
  width: 400px;
}