.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0 1.5rem;

  background: var(--surface);
  color: var(--accent);
}

.topbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  & span {
    font-size: 1.3rem;
    font-weight: 450;
  }
}

.topbar-logo-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--accent);
}