.login {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 5rem);
}

.login-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  width: 500px;

  border: 2px solid var(--biege);
  border-radius: 2rem;

  color: var(--light-gray);
}

.login-google {
  all: unset;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem 1rem;

  border: 2px solid var(--brown);

  & img {
    height: 2rem;
    width: 2rem;
  }

  & span {
    width: 100%;
    text-align: center;
  }
}

.login-or {
  position: relative;

  & span {
    position: absolute;
    top: -0.5rem;
    left: calc(50% - 1rem);

    padding: 0 0.5rem;

    background: var(--background);
  }
}

.login-link {
  & a {
    margin-left: 0.5rem;
    color: var(--brown);
  }
}