.piece {
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
  }
}

.piece-bg1{
  background: var(--board-clr1);
}

.piece-bg2 {
  background: var(--board-clr2);
}

.piece-default {
  cursor: pointer;

  &:hover {
    background-color: var(--selected);
  }
}

.piece-selected {
  background-color: var(--selected);
}

.piece-active {
  cursor: pointer;

  background: var(--active);
}