.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0 1.5rem;

  background: var(--surface);
  color: var(--accent);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  color: var(--accent);

  & span {
    font-size: 1.2rem;
    font-weight: 450;
  }
}

.header-logo-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--accent);
}

.home {
  height: calc(100vh - 3.5rem);
}

.home-divider {
	position: relative;
	height: 1px;
}

.home-divider:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, var(--accent), transparent);
}

.home-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	height: 2rem;
	background: var(--surface);

	& span {
		color: var(--accent);
	}

	& a {
		display: flex;
		align-items: center;
		gap: 0.3rem;

		text-decoration: none;
		color: var(--accent);

		&:hover {
			color: var(--green);
		}
	}
}