@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #1c1c24;
  --surface: #2a2a33;
  --accent: #f0f0f0;
  --green: #3f8f29;
  --red: #bf1029;
  --board-clr1: #eedc97;
  --board-clr2: #964d22;
  --selected: #e7e76b;
  --active: #add8e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
}