@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-brown: #241a0f;
  --background:#1c1c24;
  --surface:#2a2a33;
  --light-gray:#f0f0f0;
  --brown: #964d22;
  --biege: #eedc97;
  --selected: #e7e76b;
  --active: #add8e6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
}