@keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100vw;
  padding: 1rem 1rem;

  background: #00000040;
}

.popup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: 450px;

  background-color: var(--surface);
  border: 1px solid var(--accent);
  border-radius: 10px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    color: var(--accent);
    margin-bottom: 0.5rem;
  }

  & p {
    text-align: center;
    color: var(--accent);
    margin-bottom: 0.5rem;
  }

  & button, a {
    all: unset;

    width: 9rem;
    padding: 0.5rem 0;
    margin-top: 1rem;

    border: 1px solid var(--accent);
    border-radius: 5px;

    color: var(--accent);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    cursor: pointer;

    &:active {
      color: var(--accent);
      background-color: var(--surface);
      font-weight: 500;
    }
  }
}

.negative {
  &:hover {
    color: var(--red);
    border-color: var(--red);
  }
}

.positive {
  &:hover {
    color: var(--green);
    border-color: var(--green);
  }
}

.default {
  &:hover {
    color: var(--background);
    background-color: var(--accent);
  }
}

.popup-animation {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3rem
}